body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}
.grid-container{
  display: grid;
  background-color: darkslategrey;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  flex: 1;
}

header {
  height: 150px;
  background-color: indianred;
  padding: 25px;
  font-size: 150%;
}
.item {
  background-color: khaki;
  padding: 25px;

}

@media screen and (max-width: 650px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr ;
  }
  header {
    height: initial;
  }
}

@media screen and (max-width: 450px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr ;
  }
  header {
    display: none;
  }
}

