.TableCellHeader {
  background-color: #2f4858 !important;
  color: white !important;
  font-weight: bold !important;
}

.TableCellBody > img {
  width: 80px;
}
.filter-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
