@import url("./base.css");


header {
  background: indianred;
  grid-area: header;
}

main {
  background: skyblue;
  grid-area: body;
}

nav {
  background: goldenrod;
  grid-area: menu;
}

footer {
  background: blue;
  grid-area: footer;
}

@media (width > 451px) and (width < 650px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "menu body"
    "footer footer";
  }
}
@media screen and (width<450px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 250px 1fr 100px;
    grid-template-areas: 
    "header"
    "menu"
    "body"
    "footer";
  }
  
}