body{
  padding: 0px;
  margin: 0px;
}

.grid-container{
  display: grid;
/*grid-template-columns: 100px 100px 300px;*/
 grid-template-columns: [row1-start]100px[row1-end]100px[lastline]100px;
 grid-template-rows: [first]1fr[linesecond]2fr;
 border: 1px solid black;
}
.item {
  border: 1px solid black;
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
}