body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 150px 25px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "cabecera cabecera cabecera"
    "menu . body"
    "pie pie pie";
}
header {
  background-color: indianred;
  grid-area: cabecera;
}
main {
  background-color: skyblue;
  grid-area: body;
}
nav {
  background-color: goldenrod;
  grid-area: menu;
}
footer {
  background-color: blue;
  grid-area: pie;
}
