$primary-color: indianred;
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Verdana, Geneva, Tahoma, sans-serif;
$primary-text-color: invert($primary-color);
$border-container: 1px solid grey;
$border-radius: 0px;
$font-size: large;
$font-weight: bold;
$important-color: darken($color: $primary-color, $amount: 20%);
$important-text-color: white;
$warning-color: lighten($color: $primary-color, $amount: 20%);
$warning-font-style: normal;
$box-shadow: -10px 5px 5px black;