$primary-color: forestgreen;
$primary-font: Verdana, Geneva, Tahoma, sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;
$border-container: 1px solid black;
$border-radius: 30px;
$primary-text-color: black;
$font-size: medium;
$font-weight: normal;
$important-color: darken($color: $primary-color, $amount: 20%);
$important-text-color: invert($primary-color);
$warning-color: lighten($color: $primary-color, $amount: 20%);
$warning-font-style: italic;
$box-shadow: 10px 5px 5px black;