<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./mystyle.css" />
</head>

<body>
  <header> Mi cabecera</header>
  <div id="root">
    <nav></nav>
    <main>
      <img src="./landscape-a.jpg" />
      <img src="./landscape-b.jpg" />
      <img src="./landscape-c.jpg" />
      <img src="./landscape-d.jpg" />
      <img src="./landscape-e.jpg" />
      <img src="./landscape-f.jpg" />
      <img src="./landscape-g.jpg" />
      <img src="./landscape-h.jpg" />
    </main>
</div>
  <footer>Footer</footer>
</body>

</html>