body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: cadetblue;
  height: 75px;
}
nav {
  background-color: bisque;
  width: 150px;
}
main {
  background-color: chocolate;
  flex: 1;
}
footer{
  background-color: crimson;
  height: 150px;
}
#root {
  display: flex;
  flex-direction: row;
  flex: 1;
}