body{
  margin: 0px;
  padding: 0px;
}
.my-flex-container {
 display: flex;
 width: 100vw;
 height: 100vh;
 flex-direction: row;
}

.menu {  
  width: 150px;
  background-color: cadetblue;
  border: 5px solid red
}
.main {
  background-color: bisque;

  /*flex grow es para rellenar el restante*/
  flex-grow: 1;
}