<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./mystyle.css" />
  </head>
  <body>
    <div class="grid-container">
      <img src="./Layout/assets/landscape-a.jpg" />
      <img src="./Layout/assets/landscape-b.jpg" />
      <img src="./Layout/assets/landscape-c.jpg" />
      <img src="./Layout/assets/landscape-d.jpg" />
      <img src="./Layout/assets/landscape-e.jpg" />
      <img src="./Layout/assets/landscape-f.jpg" />
      <img src="./Layout/assets/landscape-g.jpg" />
      <img src="./Layout/assets/landscape-h.jpg" />
    </div>
  </body>
</html>