.header-container {
  padding: 8px 16px;
  background-color: var(--mat-sys-secondary-container);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

}
